/* Project 01
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body.p01 {
	/* background: #262C33;
	border: 20px solid #EA9215; */
	color: $color-dark;

	h4 span {
		color: $color-medium;
		font-family: $font-stack-secondary;
		margin-left: 16px;
	}

	h5 {
		margin-bottom: .5rem;
	}

	h6 {
		margin-bottom: .5rem;
	}

	h5,
	h6,
	ul,
	p {
		font-family: $font-stack-secondary;
	}

	article p {
		color: $color-medium;
	}

	.btn {
		margin-right: 3rem;	
	}

	.five .btn {
		vertical-align: middle;
	}


	.icon {
		background: $color-light;
		color: $color-dark;

		-webkit-transition: color background .3s;
		-moz-transition: color background .3s;
		-o-transition: color background .3s;
		transition: color background .3s;
		
		&:hover {
			/*background: $color-dark;*/
			color: $color-highlight;
		}
	}

	.branding {
		background: url(../img/01bg.png) center no-repeat #555;
		padding: 4em 3em 1em 1.5em;

		span {
			font-style: italic;
		}
	}

	.web {
		background: url(../img/02bg.png) center no-repeat #555;
		padding: 4em 3em 1em 1.5em;

		span {
			font-style: italic;
		}
	}

	.app {
		background: url(../img/03bg.png) center no-repeat #555;
		padding: 4em 3em 1em 1.5em;

		span {
			font-style: italic;
		}
	}

	.datavis {
		background: url(../img/04bg.png) center no-repeat #555;
		padding: 4em 3em 1em 1.5em;

		span {
			font-style: italic;
		}
	}

	.deepdive {
		background: url(../img/05bg.png) center no-repeat #555;
		padding: 4em 3em 1em 1.5em;

		span {
			font-style: italic;
		}
	}

	.about {
		background: url(../img/06bg.png) center no-repeat #555;
		padding: 4em 3em 1em 1.5em;

		span {
			font-style: italic;
		}
	}




	h1 {
		color: $color-light;
	}



		/* Article
	–––––––––––––––––––––––––––––––––––––––––––––––––– */
	article {
	}

	.article01 {
		padding-top: 48px;
		padding-bottom: 32px;

		.nine img {
			-webkit-box-shadow: 0 2px 5px rgba(0,0,0,.26);
			-moz-box-shadow: 0 2px 5px rgba(0,0,0,.26);
			box-shadow: 0 2px 5px rgba(0,0,0,.26);
		}

		p {
			font-size: 2rem;
		}

		.section-description {
			margin-bottom: 48px;
			margin-right: auto;
			margin-left: auto;
			max-width: 60%;
			text-align: center;

			span {
				font-size: 1.5rem;
				font-weight: 700;
			}
		}

		.approach,
		.result {
			margin-top: 40px;
			margin-bottom: 40px;
		}

		.contributions {
			margin-top: 64px;
			margin-bottom: 32px;
		}

		@media (max-width: 1200px) {
			.section-description {
				min-width: 100%;
			}
			
			.approach,
			.result {
				margin-top: 24px;
				margin-bottom: 24px;
			}
		}

		@media (max-width: 1200px) {
			.approach,
			.result {
				margin-top: 8px;
				margin-bottom: 8px;
			}
		}
	}




		/* Footer
	–––––––––––––––––––––––––––––––––––––––––––––––––– */
	footer p {
		font-family: $font-stack-primary;
	}
}