/* Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
// FONTS
$font-stack-primary: 'Libre Baskerville', serif;
$font-stack-secondary: 'Karla', sans-serif;


// COLORS
$color-primary: #333;
$color-secondary: #666;
$color-tertiary: #CF4647;

$color-background: #eeeeee;
$color-background-footer: #3a3a3a;


	// 01
	$color-primary-01: #33425B; //border
	$color-secondary-01: #F33535; //background
	$color-tertiary-01: #fff; //font

	// 02
	$color-primary-02: #4C5374; //border
	$color-secondary-02: #F1E58A; //background
	$color-tertiary-02: #4C5374; //font

	// 03
	$color-primary-03: #11BFAE; //border
	$color-secondary-03: #1B3C59; //background
	$color-tertiary-03: #F2F2F0; //font

	// 04
	$color-primary-04: #0032d2; //border
	$color-secondary-04: #e5eeff; //background
	$color-tertiary-04	: #666; //font

