@import "_normalize";
@import "_skeleton";
@import "_variables";
@import "_index";
@import "_gridStyles";

/* Global
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
	border: 10px solid #000;
	font-family: 'Libre Baskerville', serif;
	font-weight: 400;
}

h1,
h2,
h3,
h4,
h6 {
	color: #000;
}

h1 {
	font-size: 8rem;
}

@media (max-width: 575px) {
	h1 {
		font-size: 6rem;
	}
}

@media (max-width: 445px) {
	h1 {
		font-size: 4rem;
	}
}

h5 {
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: .5rem;
}

a {
	background: #fff;
	border-bottom: 1px dotted #000;
	color: #000;
	text-decoration: none;

	-webkit-transition: color background border-bottom .3s;
	-moz-transition: color background border-bottom .3s;
	-o-transition: color background border-bottom .3s;
	transition: color background border-bottom .3s;

	&:hover {
		background: #000;
		border-bottom: 1px dotted #000;
		color: #000;
	}
}

.link-dark {
	color: #333;
}

.link-light {
	color: #999;
}